<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Document</title>
  </head>
  <body>
    <form  method="post">
      <input type="text" name="title">
      <br>
      <textarea name="body" rows="7" cols="30"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
