<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/create">Add</a>
    <ul>
      <% arr.forEach(function(item){ %>
        <li>
          <%= item %>
        </li>
      <% }); %>
</ul>
  </body>
</html>
